h1 Save#index
p Find me in app/views/save/index.html.slim
= link_to "OXT >> Adatbázis generálás + ZIP készítés >>", save_to_path(), class: "btn btn-success text-light"
= link_to "CSV >> Adatbázis generálás + ZIP készítés >>", save_to_csv_path(), class: "btn btn-success text-light"