<h1>Welcome#index</h1>
<p>Find me in app/views/welcome/index.html.erb</p>

p git push heroku master
br
p cap production deploy
br
p sudo netstat -lpn |grep :5432
br
p sudo docker-compose up -d
br
p sudo kill
br
p EDITOR="code --wait" bin/rails credentials:edit
    | Rails.application.credentials.aws[:access_key_id]

